@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Blinker", sans-serif;

}

.shadowBox {
    box-shadow: -2px 4px 8px 1px white;
    transition: all 0.5s ease-in-out;
}

.shadowBox:hover {
    transform: translateX(2%);
}
.bg-image{
    background-image: url("./assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
::-webkit-scrollbar {
    width: 0px;
  }
  
  
